.committee{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
    
}
.investors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.investor-container{
    margin-left: 20px;
}
.selected-investors{
    
}