.header-container{
    background:url('https://images.all-free-download.com/images/graphiclarge/bangladesh_flag_6845507.jpg');
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    /* background-color: #088a4daa; */
    margin: auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
