.investor{
    background-color: slategray;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}
.investor-img{
    width: 150px;
    border-radius: 50%;
}
.add-investor-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: skyblue;
}

.investor-details h5{
    line-height: 2em;
}