.investor{
    background-color: rgb(181, 226, 247);
    border-radius: 10px;
    padding: 10px;
}
.investor-img{
    width: 150px;
    border-radius: 50%;
}
.add-investor-btn{
    padding: 10px;
    border-radius: 10px;
   
}

.investor-details h5{
    line-height: 2em;
}